@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");

$secondaryTextColor: #d7e9b9;
$backgroundColor: #ffffff;
$accentColorLight: #c8ded4;
$accentColor3: #83b037;
$accentColor2: #49621f;
$accentColor: #78b09c;
$primaryTextColor: #060802;
$buttonColor: #d9a25f;
$hoverColor: #bf8415;
$buttonColor2: #ecb390;
$shadowCard: 4px 4px 20px rgba(25, 33, 11, 0.25);

$textFont: "Noto Sans", sans-serif;
$titleFont: "DM Serif Display", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/hexagon-pattern.png");
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: $primaryTextColor;
  font-family: $textFont;
}

h1 {
  font-size: 80px;
  line-height: 92px;
  color: $accentColor;
  font-family: $titleFont;
}

h2 {
  font-size: 40px;
  line-height: 52px;
  color: $accentColor;
  font-family: $titleFont;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 32px;
  line-height: 42px;
  color: $accentColor;
  font-family: $titleFont;
  letter-spacing: 1px;
}

h4 {
  font-size: 20px;
  line-height: 32px;
  color: $accentColor;
  font-family: $titleFont;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: $primaryTextColor;
  font-family: $textFont;
}

.accentText {
  color: $accentColor;
}

.boldText {
  font-weight: 700;
}

small {
  font-size: 12px;
  color: $buttonColor;
  font-family: $textFont;
}

button {
  border-radius: 4px;
  border: 1px $hoverColor;
  font-family: $textFont;
  font-weight: 600;
  cursor: pointer;
}

.primaryButton {
  background-color: $buttonColor;
  color: #ffffff;
  height: 50px;
  min-width: 50px;
  width: fit-content;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  padding: 0 20px;
  transition: 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background-color: $hoverColor;
  }
}

.secondaryButton {
  background-color: #ffffff;
  color: $buttonColor;
  height: 50px;
  min-width: 89px;
  width: fit-content;
  font-size: 16px;
  transition: 0.3s ease-in;
  border: 1px solid $buttonColor;
  cursor: pointer;

  &:hover {
    color: $hoverColor;
    border: 1px solid $hoverColor;
  }

  .menuButton {
    background-color: #ffffff;
  }
}

@import "./pages/home.scss";
@import "./components/nav.scss";
